/*****************/
/* BELOW 1232px */
/*****************/
@media (max-width:77em) {
    .offer-boxs {
        grid-template-columns: repeat(3, 1fr);
    }

    .destination-boxs {
        flex-wrap: wrap;
    }

    .offer-box:last-child {
        grid-column-start: 2;
    }

    .destination-box:nth-child(3) {
        order: 5;
    }

    .destination-box:nth-child(4) {
        order: 3;
    }

    .destination-box:nth-child(5) {
        order: 4;
    }
}

/*****************/
/* BELOW 1008px */
/*****************/
@media (max-width:63em) {

    /* Nav Menu */
    .header-menu {
        display: none
    }

    .open-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .open-menu .header-logo {
        margin-top: 6.2rem;
    }

    header .open-menu.container {
        margin: 0;
        flex-direction: column;
        justify-content: unset;
        gap: 2.4rem;
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(10px);
        width: 100%;
        position: fixed;
        z-index: 99;
        opacity: 1;
        height: 100vh;
    }

    .open-menu .header-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .manu {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0px;
        right: 40px;
    }

    .open-menu .close-icon {
        display: block;
    }

    .open-menu .menu-icon {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .info-footer {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3.2rem;
    }

    .foot-about {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .foot-list {
        grid-row-start: 2 !important;
    }

    .foot-list:nth-child(3) {
        margin-left: 4.2rem;
    }

}

/*****************/
/* BELOW 992px */
/*****************/
@media (max-width:62em) {
    .category-boxs {
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
    }

    .category-box:nth-child(5) {
        grid-column-start: 2;
    }

    .offer-boxs {
        grid-template-columns: repeat(2, 1fr);
    }

    .offer-box:last-child {
        grid-column-start: auto;
    }
}

/*****************/
/* BELOW 976px */
/*****************/
@media (max-width:61em) {
    .video-content {
        grid-template-columns: 1fr;
    }

    .video-text-box {
        align-items: center;
        justify-content: center;
        align-items: center;
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }

    .video-subheading {
        text-align: center;
    }

    .video-fly-shape {
        width: 25%;
    }

    .video-play-box {
        justify-content: center;
        align-items: center;
    }

    .watch-now {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        margin: 2.4rem 0 2.4rem;
        font-size: 1.7rem;
    }

    .plan-boxs {
        grid-template-columns: repeat(2, 1fr);
    }

    .plan-box:last-child {
        display: none;
    }

}

/*****************/
/* BELOW 944px */
/*****************/
@media (max-width:59em) {

    .hero-img-box,
    .animation-image {
        display: none;
    }

    .hero-section {
        background-image: url(../images/banner-image2.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hero-section::before {
        content: " ";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .btn-with-img img {
        width: 100%;
    }

    .hero-section .container {
        grid-template-columns: 1fr;
        position: relative;
        z-index: 1;
    }

    .btn-with-img {
        position: relative;
        z-index: 1;
    }

    .hero-text-box {
        color: white;
    }

    .hero-text {
        color: white;
    }

    .plane {
        width: 10%;
    }
}

/*****************/
/* BELOW 800px */
/*****************/
@media (max-width:50em) {
    .awards {
        grid-template-columns: repeat(2, 1fr);
    }

    .award-box {
        gap: 2.4rem;
    }

    .partner-box {
        flex-wrap: wrap;
    }
}

/*****************/
/* BELOW 768px */
/*****************/
@media (max-width:48em) {
    .category-boxs {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 1.4rem;
    }

    .category-box:nth-child(5) {
        grid-column-start: auto;
    }

    .info-footer {
        grid-template-columns: repeat(2, 1fr);
        gap: 3.2rem;
    }

    .foot-about {
        grid-column-start: auto !important;
        grid-row-start: auto !important;
    }

    .foot-list {
        grid-row-start: auto !important;
    }

    .foot-list:nth-child(3) {
        margin-left: 0;
    }

    .copyright {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.4rem;
    }
}

/*****************/
/* BELOW 720px */
/*****************/
@media (max-width:45em) {
    .offer-boxs {
        grid-template-columns: 1fr;
    }

    .offer-box:last-child {
        grid-column-start: auto;
    }

    .offer-img-box::before {
        padding: 1rem;
        width: 20%;
        height: 20%;
        font-size: 2rem;
    }

    .offer-img-box::after {
        right: 31%;
    }
}

/*****************/
/* BELOW 688px */
/*****************/
@media (max-width:43em) {
    .plan-boxs {
        grid-template-columns: 1fr;
    }
}

/*****************/
/* BELOW 656px */
/*****************/
@media (max-width:41em) {
    .main-heading {
        font-size: 4.2rem;
    }
}

/*****************/
/* BELOW 608px */
/*****************/
@media (max-width:38em) {
    .container {
        padding: 3.2rem 3.2rem;
    }

    .sub-title {
        font-size: 3.2rem;
    }
}

/*****************/
/* BELOW 576px */
/*****************/
@media (max-width:36em) {
    .category-boxs {
        grid-template-columns: repeat(2, 1fr);

    }

    .category-box:nth-child(5) {
        grid-column-start: auto;
    }

    .category-img-box::before {
        left: 28%;
        top: 12%;
    }
}

/*****************/
/* BELOW 544px */
/*****************/
@media (max-width:34em) {
    .offer-img-box::after {
        right: 34%;
    }

    .info-footer {
        grid-template-columns: 1fr;
        gap: 3.2rem;
    }
}

/*****************/
/* BELOW 496px */
/*****************/
@media (max-width:31em) {
    .video-subheading {
        font-size: 3.2rem;
    }

    .plan-boxs {
        grid-template-columns: 1fr;
    }

    .awards {
        grid-template-columns: 1fr;
    }

    .award-box {
        margin-bottom: 4.2rem;
    }

    .plane {
        width: 20%;
    }

    .btn-with-img {
        padding: 2.4rem 3.2rem;
        display: flex;
        gap: 2.4rem;
        align-items: center;
    }
}

/*****************/
/* BELOW 448px */
/*****************/
@media (max-width:28em) {
    .category-img-box::before {
        left: 23%;
        top: 12%;
    }
}

/*****************/
/* BELOW 416px */
/*****************/
@media (max-width:26em) {
    .category-boxs {
        grid-template-columns: 1fr;

    }

    .category-box:nth-child(5) {
        grid-column-start: auto;
    }

    .offer-img-box::before {
        padding: 2rem;
        width: 22%;
        height: 22%;
        font-size: 1.8rem;
    }

    .offer-img-box::after {
        right: 30%;
        bottom: 15px
    }

    .sub-title {
        font-size: 2.4rem;
    }

    .img-title {
        width: 70%;
    }

    .sub-heading span {
        font-size: 1.8rem;
    }

    .arrow-shape {
        width: 25%;
    }

    .main-heading {
        font-size: 3.2rem;
    }

    .hero-text {
        font-size: 1.8rem;
    }

    .category-img-box::before {
        left: 35%;
        top: 12%;
    }
}

/*****************/
/* BELOW 368px */
/*****************/
@media (max-width:23em) {
    .menu {

        left: 90px !important;
    }

    .btn-with-img {
        padding: 2.4rem 2rem;
        display: flex;
        gap: 1.4rem;
        align-items: center;
    }

    .btn-with-img img {
        width: 30%;
    }

    .btn {
        padding: 12px 15px;
        font-size: 13px;
    }
}

/*****************/
/* BELOW 336px */
/*****************/
@media (max-width:21em) {
    .plan-heading {
        font-size: 1.9rem;
    }

    .plan-time p {
        font-size: 1.4rem;
    }

    .plan-text-box h4 {
        font-size: 1.6rem;
    }

    .category-img-box::before {
        left: 30%;
        top: 12%;
    }
}

/*****************/
/* BELOW 320px */
/*****************/
@media (max-width:20em) {
    .offer-img-box::after {
        right: 24%;

    }

    .video-subheading {
        font-size: 2.4rem;
    }

    .video-para {
        font-size: 1.4rem;
    }
}

/*****************/
/* BELOW 288px */
/*****************/
@media (max-width:18em) {
    .sub-heading span {
        font-size: 1.3rem;
    }

    .main-heading {
        font-size: 2.8rem;
    }

    .hero-text {
        font-size: 1.3rem;
    }
}